.bd-article-container {
  counter-reset: h2counter;
}
.sidebar-secondary-item {
  counter-reset: toc-h2counter;
}
h2 {
  counter-reset: h3counter;
}

h3 {
  counter-reset: h4counter;
}

h4 {
  counter-reset: h5counter;
}

h5 {
  counter-reset: h6counter;
}

h2::before {
  counter-increment: h2counter;
  content: counter(h2counter) ". ";
}

h3::before {
  counter-increment: h3counter;
  content: counter(h2counter) "." counter(h3counter) " ";
}

h4::before {
  counter-increment: h4counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) " ";
}

h5::before {
  counter-increment: h5counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "."
    counter(h5counter) " ";
}

h6::before {
  counter-increment: h6counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "."
    counter(h5counter) "." counter(h6counter) " ";
}
/* 右侧二级菜单 */
/* TOC heading counters */
.toc-h2 {
  counter-reset: toc-h3counter;
}

.toc-h3 {
  counter-reset: toc-h4counter;
}

.toc-h4 {
  counter-reset: toc-h5counter;
}

.toc-h5 {
  counter-reset: toc-h6counter;
}

.toc-h2 > .nav-link::before {
  counter-increment: toc-h2counter;
  content: counter(toc-h2counter) ". ";
}

.toc-h3 > .nav-link::before {
  counter-increment: toc-h3counter;
  content: counter(toc-h2counter) "." counter(toc-h3counter) " ";
}

.toc-h4 > .nav-link::before {
  counter-increment: toc-h4counter;
  content: counter(toc-h2counter) "." counter(toc-h3counter) "."
    counter(toc-h4counter) " ";
}

.toc-h5 > .nav-link::before {
  counter-increment: toc-h5counter;
  content: counter(toc-h2counter) "." counter(toc-h3counter) "."
    counter(toc-h4counter) "." counter(toc-h5counter) " ";
}

.toc-h6 > .nav-link::before {
  counter-increment: toc-h6counter;
  content: counter(toc-h2counter) "." counter(toc-h3counter) "."
    counter(toc-h4counter) "." counter(toc-h5counter) "." counter(toc-h6counter)
    " ";
}
/* 主页面的菜单导航 */
.bd-article .toctree-wrapper {
   counter-reset: tree-l1counter;
}
.toctree-wrapper .toctree-l1 > a::before {
  counter-increment: tree-l1counter;
  content: counter(tree-l1counter) ". ";
}
/* 左侧一级菜单 */
.bd-sidebar {
   counter-reset: toctree-l1counter;
}
.toctree-l1 {
  counter-reset: toctree-l2counter;
}
.toctree-l2 {
  counter-reset: toctree-l3counter;
}

.toctree-l3 {
  counter-reset: toctree-l4counter;
}

.toctree-l4 {
  counter-reset: toctree-l5counter;
}
.bd-sidebar .toctree-l1 > a::before {
  counter-increment: toctree-l1counter;
  content: counter(toctree-l1counter) ". ";
}
.bd-sidebar .toctree-l2 > a::before {
  counter-increment: toctree-l2counter;
  content: counter(toctree-l1counter) "."counter(toctree-l2counter) " ";
}

.bd-sidebar .toctree-l3 > a::before {
  counter-increment: toctree-l3counter;
  content: counter(toctree-l1counter) "."counter(toctree-l2counter) "." counter(toctree-l3counter) " ";
}

.bd-sidebar .toctree-l4 > a::before {
  counter-increment: toctree-l4counter;
  content: counter(toctree-l1counter) "."counter(toctree-l2counter) "." counter(toctree-l3counter) "."
    counter(toctree-l4counter) " ";
}

.bd-sidebar .toctree-l5 > a::before {
  counter-increment: toctree-l5counter;
  content: counter(toctree-l1counter) "."counter(toctree-l2counter) "." counter(toctree-l3counter) "."
    counter(toctree-l4counter) "." counter(toctree-l5counter) " ";
}


